{
  "type": "service_account",
  "project_id": "insert-your-firebase-variable",
  "private_key_id": "insert-your-firebase-variable",
  "private_key": "insert-your-firebase-variable",
  "client_email": "insert-your-firebase-variable",
  "client_id": "insert-your-firebase-variable",
  "auth_uri": "insert-your-firebase-variable",
  "token_uri": "insert-your-firebase-variable",
  "auth_provider_x509_cert_url": "insert-your-firebase-variable",
  "client_x509_cert_url": "insert-your-firebase-variable"
}
